body {
    font-family: sans-serif;
  }
  .timeWrapper{
    display: flex;
    gap:5px;
    cursor: pointer;
    align-items: baseline;
    max-width: fit-content;
  }
  .seconds{
    font-size: 50px;
  }
  .ms{
    font-size: 30px;
  }
  .btnWrapper{
    display: flex;
    gap:10px;
  }
  